.footer
   .container
      nav.footer_nav
         a.footer_nav__item(href="#home") Facebook
         a.footer_nav__item(href="#home") Twitter
         a.footer_nav__item(href="#home") Google+
         a.footer_nav__item(href="#home") LinkedIn
         a.footer_nav__item(href="#home") Behance
         a.footer_nav__item(href="#home") Dribbble
         a.footer_nav__item(href="#home") GitHub
