.header
   .container
      nav.header_nav
         a.header_nav__item(href="#home") home
         a.header_nav__item(href="#about") about
         a.header_nav__item(href="#work") work
         a.header_nav__item(href="#blog") blog
         a.header_nav__item(href="#contact") contact
      h1.header__title Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
      button.header__button work with us
