.section-5
   .container
      h1.section-5__title what people say about us
      h6.section-5__subtitle Our clients love us!
      .section-5_list
         .section-5_item.col-xs-12.col-md-6
            .section-5_item_photo-wrap
               img.section-5_item__img(src='picture/photo1.png')
            .section-5_item_text-wrap
               .section-5_item__text Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.
               .section-5_item__name Chanel Iman
               .section-5_item__position CEO of Pinterest
         .section-5_item.col-xs-12.col-md-6
            .section-5_item_photo-wrap
               img.section-5_item__img(src='picture/photo2.png')
            .section-5_item_text-wrap
               .section-5_item__text Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.
               .section-5_item__name Adriana Lima
               .section-5_item__position Founder of Instagram
         .section-5_item.col-xs-12.col-md-6
            .section-5_item_photo-wrap
               img.section-5_item__img(src='picture/photo3.png')
            .section-5_item_text-wrap
               .section-5_item__text Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.
               .section-5_item__name Anne Hathaway
               .section-5_item__position Lead Designer at Behance
         .section-5_item.col-xs-12.col-md-6
            .section-5_item_photo-wrap
               img.section-5_item__img(src='picture/photo4.png')
            .section-5_item_text-wrap
               .section-5_item__text Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.
               .section-5_item__name Emma Stone
               .section-5_item__position Co-Founder of Shazam