.section-2
   .container
      h1.section-2__title meet our beautiful team
      h6.section-2__subtitle We are a small team of designers and developers, who help brands with big ideas.
       .section-2_list.col-xs-12.nopadding
         .section-2_item.col-xs-3
            img(src='picture/photo1.png').section-2_item__img
            h2.section-2_item__title anne hathaway
            h5.section-2_item__subtitle CEO / Marketing Guru
            p.section-2_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
         .section-2_item.col-xs-3
            img(src='picture/photo2.png').section-2_item__img
            h2.section-2_item__title kate upton
            h5.section-2_item__subtitle Creative director
            p.section-2_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
         .section-2_item.col-xs-3
            img(src='picture/photo3.png').section-2_item__img
            h2.section-2_item__title olivia wilde
            h5.section-2_item__subtitle Lead Designer
            p.section-2_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
         .section-2_item.col-xs-3
            img(src='picture/photo4.png').section-2_item__img
            h2.section-2_item__title ashley greene
            h5.section-2_item__subtitle SEO / Developer
            p.section-2_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
