.section-2
   .container
      h1.section-2__title services we provide
      h6.section-2__subtitle We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
      .section-2_list.col-xs-12.nopadding
         .section-2_item.col-xs-3
            img(src='picture/14011727561112.jpg').section-2_item__img
            h2.section-2_item__title Branding
            h5.section-2_item__subtitle Kate Kaka
            p.section-2_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
         .section-2_item.col-xs-3
            img(src='picture/14011727561112.jpg').section-2_item__img
            h2.section-2_item__title Branding
            h5.section-2_item__subtitle Kate Kaka
            p.section-2_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
         .section-2_item.col-xs-3
            img(src='picture/14011727561112.jpg').section-2_item__img
            h2.section-2_item__title Branding
            h5.section-2_item__subtitle Kate Kaka
            p.section-2_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
         .section-2_item.col-xs-3
            img(src='picture/14011727561112.jpg').section-2_item__img
            h2.section-2_item__title Branding
            h5.section-2_item__subtitle Kate Kaka
            p.section-2_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
