.section-6
   .container
      h1.section-6__title get in touch
      h6.section-6__subtitle 1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111
   .section-6_form_wrap
      form.section-6_form
         input.section-6_form__input(type='text')
         input.section-6_form__input(type='text')
         textarea.section-6_form__textarea(rows='10')
   button.section-6__button send message
