.section-3
   .container
      h1.section-3__title services we provide
      h6.section-3__subtitle We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
      .section-3_list.col-xs-12.nopadding
         .section-3_item.col-xs-3
            h2.section-3_item__title Branding
         .section-3_item.col-xs-3
            h2.section-3_item__title Branding
         .section-3_item.col-xs-3
            h2.section-3_item__title Branding
         .section-3_item.col-xs-3
            h2.section-3_item__title Branding