.section-4
   .container
      h1.section-4__title our portfolio
      h6.section-4__subtitle Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam
      .section-4_tabs
         .section-4_tabs__tab all
         .section-4_tabs__tab web
         .section-4_tabs__tab apps
         .section-4_tabs__tab icons
      .section-4_pictures
         .section-4_picture-wrap
            figure
               img(src='picture/1.png')
            figcaption.section-4__caption time zone app ui
         .section-4_picture-wrap
            figure
               img(src='picture/1.png')
            figcaption.section-4__caption time zone app ui
         .section-4_picture-wrap
            figure
               img(src='picture/1.png')
            figcaption.section-4__caption time zone app ui
         .section-4_picture-wrap
            figure
               img(src='picture/1.png')
            figcaption.section-4__caption time zone app ui
      button.section-4__button load more projects