.section-1
   .container
      h1.section-1__title services we provide
      h6.section-1__subtitle We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
      .section-1_list.col-xs-12.nopadding
         .section-1_item.col-xs-3
            h2.section-1_item__title Branding
            p.section-1_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
         .section-1_item.col-xs-3
            h2.section-1_item__title Branding
            p.section-1_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
         .section-1_item.col-xs-3
            h2.section-1_item__title Branding
            p.section-1_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
         .section-1_item.col-xs-3
            h2.section-1_item__title Branding
            p.section-1_item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
