.section-3
   .container
      h1.section-3__title services we provide
      h6.section-3__subtitle We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
      .section-3_list.col-xs-12.nopadding
         .section-3_item.col-xs-3
            .circle--gray
            .section-3_round-range
              .section-3_round_value 90
              .wrapper(data-anim='base wrapper')
                .circle--blue(data-anim='base left')
                .circle--blue(data-anim='base right')
             h2.section-3_item__title web-design
         .section-3_item.col-xs-3
            .circle--gray
            .section-3_round-range
              .section-3_round_value 75
              .wrapper(data-anim='base wrapper')
                .circle--red(data-anim='base left')
                .circle--red(data-anim='base right')
            h2.section-3_item__title html/css
         .section-3_item.col-xs-3
            .circle--gray
            .section-3_round-range
              .section-3_round_value 70
              .wrapper(data-anim='base wrapper')
                .circle--green(data-anim='base left')
                .circle--green(data-anim='base right')
            h2.section-3_item__title graphic design
         .section-3_item.col-xs-3
            .circle--gray
            .section-3_round-range
              .section-3_round_value 85
              .wrapper(data-anim='base wrapper')
                .circle--orange(data-anim='base left')
                .circle--orange(data-anim='base right')
            h2.section-3_item__title ui/ux