.section-5
   .container
      h1.section-5__title what people say about us
      h6.section-5__subtitle Our clients love us
      .section-5_list
         .section-5_item
            .section-5_item_photo-wrap
               img.section-5_item__photo
            .section-5_item_text-wrap
               .section-5_item__text Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.
               .section-5_item__name Chanel Iman
               .section-5_item__position CEO of Pinterest
         .section-5_item
            .section-5_item_photo-wrap
               img.section-5_item__photo
            .section-5_item_text-wrap
               .section-5_item__text Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.
               .section-5_item__name Chanel Iman
               .section-5_item__position CEO of Pinterest
         .section-5_item
            .section-5_item_photo-wrap
               img.section-5_item__photo
            .section-5_item_text-wrap
               .section-5_item__text Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.
               .section-5_item__name Chanel Iman
               .section-5_item__position CEO of Pinterest
         .section-5_item
            .section-5_item_photo-wrap
               img.section-5_item__photo
            .section-5_item_text-wrap
               .section-5_item__text Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.
               .section-5_item__name Chanel Iman
               .section-5_item__position CEO of Pinterest