.footer
  background-color: #344b8e
  &_nav
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    padding: 40px 0
    &__item
      display: inline-block
      color: $white
      font-size: 24px
      font-weight: bold
      line-height: 1.246
      letter-spacing: .02em
      &:hover
        color: #30bae7


@media screen and (max-width: $sm)
  .footer
    &_nav
      flex-flow: column nowrap
      padding: 10px 0
      &__item
        width: 100%
        display: block
        text-align: center
        line-height: 1.8