.header
  padding: 60px 0 145px
  text-align: center
  &_container
    +animation(submarineFadeIn 1s ease)
  &_logo
    float: left
    display: inline-block
  &_nav
    float: right
    &__item
      @extend .nav
      margin: 0 7.5px
      padding: 0 15px
      background-color: #87509c
  &__title
    @extend .big-title
    margin: 145px 100px 60px
  &__button
    @extend .big-button
    @extend .orange-button