.section-5
  @extend .section
  background-color: #d74680
  &__title
    @extend .big-title-2
    color: $white
  &__subtitle
    @extend .subtitle
    color: $white
  &_list
    display: flex
    flex-flow: row wrap
    justify-content: space-between
  &_item
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    margin-bottom: 50px
    &__img
      width: 100px
      height: 100px
      +border-radius(50%)
    &_text-wrap
      display: inline-flex
      flex-flow: column nowrap
      width: 100%
    &_photo-wrap
      width: 100px
      margin-right: 5%
    &__text
      font-size: 17.5px
      color: $white
      font-style: italic
      line-height: 1.486
      text-align: left
      margin-bottom: 20px
      width: 100%
    &__name
      @extend .list-title-1
      text-align: left
      margin-bottom: 10px
    &__position
      font-size: $main-font-size
      color: #ffdd99
      line-height: 1.125
      text-align: left

@media screen and (max-width: $md)
  .section-5
    &_item
      &:last-child
        margin-bottom: 0

@media screen and (min-width: $md)
  .section-5
    &_item
      &:nth-child(n+2)
        margin-bottom: 0

