.section-2
  background-color: $white-blue
  padding: 120px 0
  text-align: center
  &__title
    @extend .big-title-2
    color: $dark-blue
    margin-bottom: 45px
  &__subtitle
    @extend .subtitle
    color: $dark-blue
    margin: 0 $margin-lr $margin-b
  &_item
    display: inline-block
    &__img
      width: 200px
      display: inline-block
      +border-radius(50%)
      margin-bottom: 30px
    &__title
      @extend .list-title-1
      color: $dark-blue
    &__subtitle
      font-size: $main-font-size
      color: rgb( 48, 186, 231 )
      line-height: 1.125
      text-align: center
      margin: 15px 0
    &__description
      @extend .list-text
      color: $dark-blue
      margin: 0 40px