.section-6
  @extend .section
  background-color: #3c5499
  &__title
    @extend .big-title-2
    color: $white
  &__subtitle
    @extend .subtitle
    color: $white
  &__button
    @extend .big-button
    @extend .blue-button
  &_form
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    &_wrap
      width: 80%
      margin: 0 auto 60px
    &_wrap-input
      position: relative
      &:first-child
        padding-right: 12.5px
      &:nth-child(2)
        padding-left: 12.5px
        label
          margin-left: 12.5px
    &__input
      background: $form
      height: 55px
      border-radius: 4px
      border: none
      display: inline-block
      margin-bottom: 25px
      font-size: $main-font-size
      line-height: 1.125
      color: $white
      padding: 1em
      width: 100%
      &+ label
        color: white
        position: absolute
        left: 1em
        top: 1em
        font-size: $main-font-size
        cursor: text
      &+ label:after
        content: '*'
        color: red
      &:invalid + label
        display: inline-block
      &:valid + label
        display: none
    &__textarea
      @extend .section-6_form__input
      margin-bottom: 0
      height: auto
      width: 100%