.section-1
  background-color: $green
  padding: 120px 0
  text-align: center

  &__title
    @extend .big-title-2
    margin-bottom: 45px
  &__subtitle
    @extend .subtitle
    margin: 0 250px 75px
  &_item
    display: inline-block
    &__img
      height: 120px
      margin-bottom: 35px
    &__title
      @extend .list-title-1
      margin-bottom: 25px
    &__description
      @extend .list-text
      margin: 0 40px