.section-4
  @extend .section
  background-color: #ffdd99
  &__title
    @extend .big-title-2
    color: $black
  &__subtitle
    @extend .subtitle
    color: $black
  &_tabs
    margin-bottom: 60px
    &__tab
      @extend .tab
      background-color: #ebc985
      color: $black
      margin-bottom: 20px
      &:hover
        background-color: #fff
        cursor: pointer
  &_pictures
    display: flex
    flex-flow: row wrap
    justify-content: space-between
  &_picture-wrap
    display: inline-block
    margin-bottom: 55px
    width: 49%
    figure
      width: 100%
      img
        max-width: 100%
  &__caption
    @extend .figcaption
    margin-top: 20px
  &__button
    @extend .big-button
    @extend .green-button